doctype html
html(lang="kr")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/styles/styles.css")
        title 내가 그린 기린 그림
    body
        header 내가 그린 기린 그림 . JS
        div.loginBox
            form#jsLogin
                input(type="text" placeholder="사용자명을 입력해주세요" required)
        div.gameContainer#jsGame
            h1 선수입장
        script(src="/socket.io/socket.io.js")
        script(src="/js/main.js") 